<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Jessie Pang">
    <title>Coastal flooding in HK will become more serious due to climate change</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97015178-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-97015178-1');
    </script>

    <!-- CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/simple-line-icons.css" rel="stylesheet" media="screen">
    <link href="assets/css/animate.css" rel="stylesheet">

    <!-- Custom styles CSS -->
    <link href="assets/css/style.css" rel="stylesheet" media="screen">
    <script src="assets/js/modernizr.custom.js"></script>
    <script src="angular.js"></script>
    <script src="jquery.js"></script>
    <!-- Use echarts.js -->
    <script src="echarts.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
</head>

<body>
    <section id="home" class="pfblock-image screen-height">
        <div class="home-overlay"></div>
        <div class="intro">
            <div class="continer">
                <div class="col-lg-6 col-md-12">           
                <h1> Coastal flooding in HK will become more serious due to climate change </h1>
                <br>
                <h2> By Jessie Pang</h2>
                <br>
                <h3> 14 Feb 2018</h3>
                </div>
                </div>
                <div class="col-lg-6 col-md-12">  
                <div id="relation" style="width:100%;height:500px;"></div>  
                </div>  
            </div>
            </div>
        </div>

        <a href="#intro">
            <div class="scroll-down">
                <span>
                    <i class="fa fa-angle-down fa-2x"></i>
                </span>
            </div>
        </a>
    </section>

    <section class="pfblock pfblock-gray" id="intro">
        <div class="container">
            <div class="col-span-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <a class="twitter-share-button" href="https://jessiepyt.github.io/climatechangeinhk/" data-size="small">Tweet</a>
                        <div class="fb-like" data-href="https://github.com/jessiepyt/climatechangeinhk" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                        <br>
                        <br>
                        <p1>When Typhoon Hato hit Hong Kong last year, it was fortunate that the casualties were low when compared with neighboring cities. Yet, Hong Kong is prone to climate change. With the further rise of the sea-level, coastal flooding would become more frequent. </p1>
                        <br>
                        <br>
                        <p1>Hong Kong, with a coastline of 733 km, is vulnerable to the coastal flooding brought by the rising sea levels alongside the climate change. With an expected rise in sea level and its volume of waters under the continued rise of greenhouse gases in the future, there will be more devastating storm surge brought by tropical cyclones, according to a climate projection study by the Hong Kong Observatory. </p1>
                        <br>
                        <br>
                        <p1>According to the study, the frequency of storm surge will increase from one in fifty years to one in five years by 2021- 2040, and eventually an annual event at the end of the 21st century as the sea levels rise by 1.7m more.  </p1>
                        <br>
                        <br>
                        <p3> A sea level of 3.5 m can already cause a severe flooding in low-lying areas of the city. Several typhoons in the past had brought severe storm surges to Hong Kong causing casualties and heavy property damages. If the sea level rise projections become true, the casualties and damages will beyond our imagination.  </p3>
                    <br>
                    <br>
                    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1GUlGFb_RPZcExV7v_Bz4tH7TVJMfC8orxh9YIX3Y-7M&font=Default&lang=en&initial_zoom=2&height=600' width='100%' height='600' webkitallowfullscreen mozallowfullscreen allowfullscreen
                        frameborder='0'></iframe>
                </div>
            </div>
            <br>
            <br>
            <div class="col-lg-12 col-md-12">
                <p1>Meanwhile, the situation will be worsened by the more frequent occurrence of extreme weather. The extreme weather in Hong Kong has occurred more frequently in recent years. The hourly rainfall record was broken several times whereas it
                    used to take several decades to break the record, according to the Hong Kong Observatory.</p1>
                <br>
                <br>
                <div class="col-lg-6" "col-md-12">
                    <div id="main1" style="width: 90%;height:430px;"></div>
                </div>
                <div class="col-lg-6" "col-md-12">
                    <div id="main2" style="width: 110%;height:450px;"></div>
                </div>
                <br>
                <br>
                <p1>Hong Kong Observatory also projects that the annual rainfall will increase by the end of this century as the greenhouse gases continue to increase. Under a high greenhouse gases concentration scenario, there will be a remarkable increase
                    in extremely wet years with an annual rainfall more than 3168 mm in 2006-2100 while the number of extremely dry years with an annual rainfall less than 1289 mm will remain the same.</p1>
                <br>
                <br>
                <br>
            </div>
            <div class="col-lg-6 col-md-12">
                    <!-- Slideshow container -->
                    <div class="slideshow-container">
                        <!-- Full-width images with number and caption text -->
                        <div class="mySlides fade">
                            <div class="numbertext">1 / 5</div>
                            <img src="assets/images/1.jpg" style="width:100%">
                            <div class="text"> Heng Fa Chuen Car Park submerged in the water. Photo: Michael Ho.</div>
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext">2 / 5</div>
                            <img src="assets/images/2.jpg" style="width:100%">
                            <div class="text"> Clifford Wong Chun-kit's cafe was flooded during the Typhoon Hato. Photo: Clifford Wong.</div>
                        </div>
    
                        <div class="mySlides fade">
                            <div class="numbertext">3 / 5</div>
                            <img src="assets/images/3.jpg" style="width:100%">
                            <div class="text"> Water-safety barrier put outside the cafe fell down during the storm. Photo: Clifford Wong.</div>
                        </div>
    
                        <div class="mySlides fade">
                            <div class="numbertext">4 / 5</div>
                            <img src="assets/images/4.jpg" style="width:100%">
                            <div class="text">Firemen standed by to save the trapped residents. Photo: Clifford Wong.</div>
                        </div>
    
                        <div class="mySlides fade">
                            <div class="numbertext">5 / 5</div>
                            <img src="assets/images/5.jpg" style="width:100%">
                            <div class="text">Residents of Tai O cleaning up the flooded properties on streets after the storm. Photo: Clifford Wong.</div>
                        </div>
    
                        <!-- Next and previous buttons -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    <br>
    
                    <!-- The dots/circles -->
                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                        <span class="dot" onclick="currentSlide(4)"></span>
                        <span class="dot" onclick="currentSlide(5)"></span>
                    </div>
                </div>
            <div class="col-lg-6 col-md-12">
                <p1> Although the Hong Kong government has been focusing on flood prevention education and building coastal infrastructures over the past few years, it still failed to withstand floods of extreme weather.</p1>
                <br>
                <br>
                <p1>“There were breakwater and trees to stop the waves but they were useless. By the time I walked my way down, the water was still rising, reaching my knees, and I almost got blown away,” said Michael Ho Tsz-him, 23, a resident of the Typhoon
                    Hato affected Heng Fa Chuen in Chai Wan. </p1>
                <br>
                <br>
                <p1>“I have lost over 10 to 15 thousand Hong Kong dollars during the flooding as the water level passed the floodgate we installed”, said Clifford Wong Chun-kit, 39, a cafe owner in Tai O.</p1>
                <br>
                <br>
                <p1>In the half year since typhoon Hato struck, Wong's cafe Tai O Banyan has been looking for a contractor. To some government listed ones, floodgate installation is considered "too small" a task, a technicality that leaves shop owners like Wong 'dry' in their search. Wong hoped that the government could arrange contractors for the victims in the future.</p1>
                <br>
                <br>
                <p1>Benny Yuen, 30, a green clothing shop owner in Tai O, said the government support was enough. As he observed that firemen already standby during the typhoon. He believed that it's beyond the government ability to reduce damages. However, he suggested that the government can help in organizing donations and clean-up among the residents and volunteers.</p1>
                <br>
                <br>
                <p1>"Tai O residents are the first victims of the recent climate change, it will affect everyone eventually. Action must be taken by the citizens before it's too late", said Yuen.</p1>
            </div>
            <br>
            <br>
                <div class="col-lg-7 col-md-12">
                <br>
                <p1>To cope with the frequent coastal flooding in the coming future, Urban Designer Ben Macleod from Farrells, a global architecture and urban design firm, suggested that the Government could adopt the “Dryline” concept from New York, a proposal
                    of building a 12 km-long high water barrier that incorporates public space in the Southern Manhattan to block coastal flooding.</p1>
                <br>
                <br>
                <p1>“The Dryline project as a good precedent for Hong Kong to follow as New York and Hong Kong are both coastal cities frequently affected by flooding during typhoon seasons”, said Macleod.</p1>
                <br>
                <br>
                <p1>However, Dr. Chun Kwok-pan, a Geography professor from Hong Kong Baptist University disagreed that further coastal infrastructure would help in preventing the coastal flooding that caused by the climate change. </p1>
                <br>
                <br>
                <p1>“The Government already did a good job in water drainage system and other preventative constructions. The coastal surge that caused by the Typhoon Hato, for instance, was abnormal with three to four meter tall. It’s a trade-off  of whether
                    there’s need of a barrier that can block the coastal flood in sacrificing the view of the residents,” said Dr. Chun.</p1>
                <br>
                <br>
                <p1>Dr. Chun suggested that there is a need for more disaster education, hazard drill, and public education on the relationship between the rise of sea levels and climate change in long run. </p1>
                </div>
                    <div class="col-lg-5 col-md-12">
                        <div ng-app="CO2exampleApp">            
                            <div ng-controller="CO2controller">
                                <div class="row">
                                        <br>
                                    <h3>Test youself how much you know about the contributor of climate change in HK!</h3>
                                    <img src="1.png" style="width:400px;height:400px; display:block" id="1" ng-if="getAngCO2() >= 0 && getAngCO2() < 16">
                                    <!--usemap="#myMap"-->
                                    <img src="2.png" style="width:400px;height:400px; display:block" id="2" ng-if="getAngCO2() >= 16 && getAngCO2() < 70">
                                    <img src="3.png" style="width:400px;height:400px; display:block" id="3" ng-if="getAngCO2() >= 70 && getAngCO2() < 90">
                                    <img src="4.png" style="width:400px;height:400px; display:block" id="4" ng-if="getAngCO2() >= 90 && getAngCO2() < 100">
                                </div>
                                <div class="row">
                                    <label for="CO2Value" style="font-size:30px">{{AngCO2}}CO2</label>
                                    <input type="range" ng-change="CO2change()" min="0" max="90" step="1" id="CO2Value" value="{{getAngCO2()}}" ng-model="AngCO2" style="width:400px" list="tickmarks">
                                    <datalist id="tickmarks">
                                        <option>0</option>
                                        <option>16</option>
                                        <option>70</option>
                                        <option>90</option>
                                        </datalist>
                                </div>
                            </div>
                        </div>
                    </div>
                        <script>
                            var CO2exampleApp = angular.module('CO2exampleApp', []).controller('CO2controller', function($scope) {
                                $scope.AngCO2 = 0;
                                $scope.getAngCO2 = function() {
                                    return $scope.AngCO2;
                                };
                                $scope.CO2change = function() {
                                    $scope.AngCO2 = parseInt($scope.AngCO2);
                                }
                            });
                        </script>
        </div>
        </div>
        </div>
    </section>

    <a name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-subheading">Leave a comment<br></h2>
                    <p class="item-3">Share your thoughts about rise of sea levels and climate change impact to Hong Kong!</p>
                    <div class="fb-comments" data-href="https://github.com/jessiepyt/climatechangeinhk" data-numposts="5"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Jessie Pang. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to top end-->

    <!-- Javascript files -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>
    <style>
        .rpic img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border-width: 5px;
            border-style: solid;
        }
    </style>
    <script type="text/javascript">
        option = {
            "title": {
                "text": "Hourly rainfall records (1885-2015)",
                "subtext": "Source:Hong Kong Observatory",
                "x": "center",
            },
            "color": ["#ff3d3d", "#00a0e9"],
            "tooltip": {
                "trigger": "axis"
            },
            "legend": {
                "align": "left",
                "top": "60",
                "left": "30",
                "orient": "vertical",
                "data": ["Amount of rainfall per hour(mm)"],
                "selected": {
                    "Amount of rainfall per hour(mm)": "true",
                }
            },
            "grid": {
                "left": "0",
                "right": "3%",
                "bottom": "3%",
                "top": "13%",
                "containLabel": "true"
            },
            "xAxis": {
                "type": "category",
                "boundaryGap": "false",
                "splitLine": {
                    "show": "true",
                    "lineStyle": {
                        "color": ["#b1b1b1"],
                        "type": "dashed"
                    }
                },
                "data": ["1886", "1926", "1966", "1992", "2006", "2008"]
            },
            "yAxis": {
                "splitLine": {
                    "show": "true",
                    "lineStyle": {
                        "color": ["#b1b1b1"],
                        "type": "dashed"
                    }
                }
            },
            "series": [{
                "name": "Amount of rainfall per hour(mm)",
                "type": "line",
                "data": ["88.4", "100.7", "108.2", "109.9", "115.1", "145.5"],
                "label": {
                    "normal": {
                        "show": "true",
                        "position": "top"
                    }
                }
            }, ],
        };
        var myChart1 = echarts.init(document.getElementById('main1'));
        myChart1.setOption(option);
    </script>
    <script type="text/javascript">
        option = {
            title: {
                text: 'Projection of annual rainfall under high greenhouse gas conentration',
                subtext: 'Source: Hong Kong Obervatory',
                "x": "center"
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                "align": "left",
                "top": "60",
                "left": "60",
                "orient": "vertical",
                data: ['Extremly dry years', 'Extremely wet years']
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {
                        show: true,
                        readOnly: false
                    },
                    magicType: {
                        show: true,
                        type: ['line', 'bar']
                    },
                    restore: {
                        show: true
                    },
                    saveAsImage: {
                        show: true
                    }
                }
            },
            calculable: true,
            xAxis: [{
                type: 'category',
                data: ['1885-2005', '2006-2100']
            }],
            yAxis: [{
                type: 'value'
            }],
            series: [{
                name: 'Extremly dry years',
                type: 'bar',
                data: [2, 2],
                markPoint: {
                    data: [{
                        name: '年最高',
                        value: 182.2,
                        xAxis: 7,
                        yAxis: 183
                    }, {
                        name: '年最低',
                        value: 2.3,
                        xAxis: 11,
                        yAxis: 3
                    }]

                },
                markLine: {
                    data: [{
                        type: 'average',
                        name: '平均值'
                    }]
                }
            }, {
                name: 'Extremely wet years',
                type: 'bar',
                data: [3, 12],
                markPoint: {
                    data: [{
                        type: 'max',
                        name: '最大值'
                    }, {
                        type: 'min',
                        name: '最小值'
                    }]
                },
                markLine: {
                    data: [{
                        type: 'average',
                        name: '平均值'
                    }]
                }
            }]
        };
        var myChart2 = echarts.init(document.getElementById('main2'));
        myChart2.setOption(option);
    </script>

<script type="text/javascript">
    var myChart1 = echarts.init(document.getElementById('relation'));
    option = {
    color: ['#e8ca04', '#10c889', '#73d5ea', '#1a83f8'],
    tooltip: {},
    legend: [{
    formatter: function(name) {
    return echarts.format.truncateText(name, 40, '14px Microsoft Yahei', '…');
    },
    tooltip: {
    show: true
    },
    selectedMode: 'false',
    bottom: 20,
    data: ['Causes', 'Contributors of co2', 'Effect','Solutions']
    }],
    toolbox: {
    show: true,
    feature: {
    dataView: {
    show: true,
    readOnly: true
    },
    restore: {
    show: true
    },
    saveAsImage: {
    show: true
    }
    }
    },
    animationDuration: 3000,
    animationEasingUpdate: 'quinticInOut',
    series: [{
    name: 'Coastal flooding under climate change',
    type: 'graph',
    layout: 'force',
    force: {
    repulsion: 700
    },
    data: [{
    "name": "Coastal flooding under climate change",
    "symbolSize": 180,
    "draggable": "true",
    }, {
    "name": "Causes",
    "symbolSize": 120,
    "category": "Causes",
    "draggable": "true"
    }, {
    "name": "Sea levels rise",
    "symbolSize": 45,
    "category": "Causes",
    "draggable": "true",
    "value": 0.85
    }, {
    "name": "More precipiation",
    "symbolSize": 45,
    "category": "Causes",
    "draggable": "true",
    "value": 0.67
    }, {
    "name": "Increase of extreme weather",
    "symbolSize": 45,
    "category": "Causes",
    "draggable": "true",
    "value": 0.69
    }, {
    "name": "Contributors of co2",
    "value": 5,
    "symbolSize": 80,
    "category": "Contributors of co2",
    "draggable": "true"
    }, {
    "name": "Trash and others",
    "symbolSize": 40,
    "category": "Contributors of co2",
    "draggable": "true",
    "value": 1
    }, {
    "name": "Electricity Generation",
    "symbolSize": 70,
    "category": "Contributors of co2",
    "draggable": "true",
    "value": 1
    }, {
    "name": "Transportation",
    "symbolSize": 16,
    "category": "Contributors of co2",
    "draggable": "true",
    "value": 1
    }, {
    "name": "Effect",
    "symbolSize": 80,
    "category": "Effect",
    "draggable": "true"
    }, {
    "name": "Casualties",
    "symbolSize": 50,
    "category": "Effect",
    "draggable": "true",
    }, {
    "name": "Economic Loss",
    "symbolSize": 50,
    "category": "Effect",
    "draggable": "true",
  }, {
    "name": "Solutions",
    "symbolSize": 90,
    "category": "Solutions",
    "draggable": "true"
    }, {
    "name": "More public education",
    "symbolSize": 30,
    "category": "Solutions",
    "draggable": "true",
    }, {
    "name": "Regular hazard drills",
    "symbolSize": 10,
    "category": "Solutions",
    "draggable": "true",
    }],
    links: [{
    "source": "Coastal flooding under climate change",
    "target": "Causes"
    }, {
    "source": "Causes",
    "target": "Sea levels rise"
    }, {
    "source": "Causes",
    "target": "More precipiation"
    }, {
    "source": "Causes",
    "target": "Increase of extreme weather"
    }, {
    "source": "Coastal flooding under climate change",
    "target": "Contributors of co2"
    }, {
    "source": "Contributors of co2",
    "target": "Transportation"
    }, {
    "source": "Contributors of co2",
    "target": "Trash and others"
    }, {
    "source": "Contributors of co2",
    "target": "Electricity Generation"
    }, {
    "source": "Coastal flooding under climate change",
    "target": "Effect"
    }, {
    "source": "Effect",
    "target": "Casualties"
    }, {
    "source": "Effect",
    "target": "Economic Loss"
  }, {
    "source": "Coastal flooding under climate change",
    "target": "Solutions"
    }, {
    "source": "Solutions",
    "target": "More public education"
    }, {
    "source": "Solutions",
    "target": "Regular hazard drills"
    }],
    categories: [{
    'name': 'Causes'
    }, {
    'name': 'Contributors of co2'
    }, {
    'name': 'Effect'
    }, {
    'name': 'Solutions'
    }],
    focusNodeAdjacency: true,
    roam: true,
    edgeSymbol: ['circle', 'arrow'],
    edgeSymbolSize: 10,
    label: {
    normal: {
    textStyle: {
    fontSize: 15,
    fontWeight: 'bold',
    color:"#ffffff"
    },
    show: true,
    position: 'inside',
    }
    },
    itemStyle: {
    normal: {
    shadowColor: '#fffff',
    shadowBlur: 10
    }
    },
    lineStyle: {
    normal: {
    color: 'source',
    curveness: 0,
    type: "solid",
    width: 3,
    shadowColor: '#ffffff',
    shadowBlur: 10
    }
    }
    }]
    };
    myChart1.setOption(option);
    </script>
    <script>
        (function(a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y;
            h.start = 1 * new Date;
            h.end = i = function() {
                s.className = s.className.replace(RegExp(' ?' + y), '')
            };
            (a[n] = a[n] || []).hide = h;
            setTimeout(function() {
                i();
                h.end = null
            }, c);
            h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {
            'GTM-WGQPS3F': true
        });
    </script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-97015178-1', 'auto');
        ga('require', 'GTM-WGQPS3F');
        ga('send', 'pageview');
    </script>
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.parallax-1.1.3.js"></script>
    <script src="assets/js/imagesloaded.pkgd.js"></script>
    <script src="assets/js/jquery.sticky.js"></script>
    <script src="assets/js/smoothscroll.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/jquery.easypiechart.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.cbpQTRotator.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>
